.icon-left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.icon-right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.time-content.morning i {
  color: #a4ffa4;
}

.time-content.afternoon i {
  color: #ff8000;
}

.time-content.night i {
  color: #0059b4;
}

.time-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.morning {
  background-color: #f0fff0;
}

.afternoon {
  background-color: #ffa64d;
}

.night {
  background-color: #003367;
}
